@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ======================= Variables ========================

$color-primary: #ee2d4f;
$color-primary-light: rgba(238, 45, 79, 0.03);
$color-secondary: #fff;

$frame-back: #fcfcfc;
$bodyTextBlack: #373737;

$black: #000;

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ======================= Base =======================

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $frame-back;
}
// ======================= Base end =======================
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ======================= mixins =======================

@mixin responsive-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin responsive-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

// ======================= mixins end =======================
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================ Utilities ================================
.mt-medium {
  margin-top: 5rem !important;
}

.bg-primary-light {
  background-color: $color-primary-light !important;
}

.bg-background {
  background-color: $frame-back !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
}
// ================================ Utilities end ================================
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================ Typography ================================

// == heading
.big-heading {
  font-size: 34px !important;
}

.heading {
  font-weight: bold;
  font-size: $bodyTextBlack;
  &-primary {
    font-size: 22px !important;
  }
}

// == text
.paragraph-text {
  font-size: 14px;
}

.paragraph-text-lg {
  font-size: 17px;
}

// text color

.text {
  &-primary {
    color: $color-primary !important;
  }

  &-secondary {
    color: $color-secondary !important;
  }

  &-dark {
    color: $bodyTextBlack !important;
  }
}

// ================================ Typography End ================================
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================ Component ====================================

// ======== #fav-nav

#fav-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999 !important;
  .nav {
    &-icon {
      font-size: 22px;
    }

    &-bottom-box {
      @include responsive-max(767px) {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
      }
    }
  }

  .menu-icon:hover > .dropdown-selector {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .profile-icon:hover > .dropdown-profile {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-box {
    top: 100%;
    right: 0;
    width: 381px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.5s;

    // @include responsive-max(767px) {
    //   width: 100%;
    //   top: -200px;
    //   left: 0;
    //   border: 0 !important;
    // }
  }

  .selector-list {
    border-radius: 20px;
    .img-box {
      max-width: 20%;
    }
  }

  // ======== profile
  .dropdown-profile {
    width: 420px !important;
  }

  .profile {
    .img-box {
      width: 80px;
      max-height: 80px;
    }
  }
}

// ===== button
.btn {
  border-radius: 10px !important;
  border: none !important;

  &-big {
    padding: 17px 88px !important;
  }

  &-small {
    padding: 7px 31px !important;
  }

  &-primary {
    background-color: $color-primary !important;
    color: $color-secondary;
  }
}

#fav-nav {
  .selector-box {
    background-color: $color-primary-light !important;
    border-radius: 10px;
  }
  .btn {
    background-color: none !important;
    color: $bodyTextBlack;
  }
  .active {
    background-color: $color-primary !important;
    color: $color-secondary;
  }
}

// ================================ Component End ================================
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================= Pages ==========================================

// ==================== Login signup Page =======

// ============ #sign-in
.input-main-box {
  width: 95%;
  max-width: 470px;
}

.form-control {
  font-size: 14px !important;
  color: $black !important;
}

.input-label {
  font-size: 14px;
}

// social icon

.social {
  &-icon {
    background-color: $color-secondary;
    padding: 15px 30px;
    border-radius: 24px;
  }

  &-img {
    max-width: 25px;
  }
}

/* === Bootstrap === */
.form-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form-label-group > input,
.form-label-group > label {
  padding: 1rem;

  @include responsive-min(400px) {
    padding: 1.5rem;
  }
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include responsive-min(400px) {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(0.5rem / 3);
  padding-bottom: calc(0.5rem / 3);
  font-size: 10px;
  color: #777;

  @include responsive-min(400px) {
    padding-top: calc(1.5rem / 3);
    padding-bottom: calc(1.5rem / 3);
    font-size: 12px;
  }
}

// ==== svg ======
.line-svg {
  top: 0;
  right: 0;
}

// forgot password

.error {
  .form-control {
    border: 1px solid $color-primary !important;
  }
  .error-msg {
    display: block;
  }
}

.error-msg {
  display: none;
}

// ========================= Login signup Page end ===========================

// ========================= Home page ===============================

// ======== #fav-top-offers

#fav-top-offers {
  margin-top: 130px;

  .top-offer-1st {
    .card {
      .card-image-box {
        border-radius: 20px;
      }
      .card-img-top {
        max-height: 298px !important;
        object-fit: cover;
      }
    }
  }

  .image-overflow {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
  }
}
