@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ======================= Variables ========================

$color-primary: #ee2d4f;
$color-primary-dark: #c92140;
$color-primary-light: rgba(238, 45, 79, 0.03);
$color-secondary: #fff;

$frame-back: #fcfcfc;
$bodyTextBlack: #373737;

$light-grey: #f5f5f5;
$light-grey-2: #fafafa;
$black: #000;
$white: #fff;
$green: #2aa952;
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ======================= Base =======================
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}

body {
  background-color: $frame-back;
}
// ======================= Base end =======================
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ======================= mixins =======================

@mixin responsive-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin responsive-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
///////////////////////////////////////////////////////////////
//[=================== component mixin =======================]

// ========= after nav section
@mixin after-nav-section {
  margin-top: 130px;

  @include responsive-max(767px) {
    margin-top: 20px;
  }
}

// ============= crad

@mixin card-with-rate {
  .card {
    .card-img-top {
      min-height: 260px;
      @include responsive-max(767px) {
        min-height: 200px;
      }
    }
  }
}

// ======================= mixins end =======================
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================ Utilities ================================
.mt-medium {
  margin-top: 5rem !important;
}

// =========== bg color
.bg-primary-light {
  background-color: $color-primary-light !important;
  color: $bodyTextBlack;
}

.bg-background {
  background-color: $frame-back !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
  color: $color-primary !important;

  &:hover {
    background-color: $color-secondary !important;
    color: $color-primary !important;
  }
}
.bg-light-grey {
  background-color: $light-grey !important;
  color: $bodyTextBlack !important;
}
.bg-light-grey-2 {
  background-color: $light-grey-2 !important;
  color: $bodyTextBlack !important;
}

// ================================ Utilities end ================================
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================ Typography ================================

// == heading
.big-heading {
  font-size: 34px !important;

  @include responsive-max(767px) {
    font-size: 28px !important;
  }
}

.heading {
  font-weight: bold !important;
  color: $bodyTextBlack;
  &-primary {
    font-size: 22px !important;

    @include responsive-max(767px) {
      font-size: 20px !important;
    }

    @include responsive-max(575px) {
      font-size: 18px !important;
    }

    &-lg {
      font-size: 25px !important;

      @include responsive-max(767px) {
        font-size: 23px !important;
      }
      @include responsive-max(567px) {
        font-size: 19px !important;
      }
    }
  }
}

// == text
.paragraph-text {
  font-size: 14px;
  @include responsive-max(767px) {
    font-size: 12px !important;
  }
}

.paragraph-text-lg {
  font-size: 17px;
  @include responsive-max(767px) {
    font-size: 14px !important;
  }
}

// text color
.text {
  &-primary {
    color: $color-primary !important;
  }

  &-secondary {
    color: $color-secondary !important;
  }

  &-dark {
    color: $bodyTextBlack !important;
  }
  &-green {
    color: $green !important;
  }
}

// ======= hover effect
.hover-text-primary {
  &:hover {
    color: $color-primary !important;
  }
}

// ================================ Typography End ================================
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================ Component ====================================

/////////////////////////////////////////////////////
// ======== #fav-nav

#fav-nav {
  width: 100%;
  box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 9999 !important;
  @include responsive-max(767px) {
    position: relative !important;
  }

  .logo {
    font-size: 24px;
  }
  .nav {
    &-icon {
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: $color-primary !important;
      }

      @include responsive-max(767px) {
        font-size: 16px;
      }
    }

    &-bottom-box {
      @include responsive-max(767px) {
        background-color: $white !important;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.1);

        .nav-icon {
          @include responsive-max(767px) {
            font-size: 20px;
          }
        }
      }
    }
  }

  .menu-icon:hover > .dropdown-selector {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .profile-icon:hover > .dropdown-profile {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-box {
    top: 100%;
    right: 0;
    width: 381px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.5s;

    // @include responsive-max(767px) {
    //   width: 100%;
    //   top: -200px;
    //   left: 0;
    //   border: 0 !important;
    // }
  }

  .selector-list {
    border-radius: 20px;
    .img-box {
      max-width: 20%;
    }
  }

  // ======== profile
  .dropdown-profile {
    width: 420px !important;
  }

  .profile {
    .img-box {
      width: 80px;
      max-height: 80px;
    }
  }
}

// ========== search-component

.search-component {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  transform: translateX(-90%) !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  z-index: 10000 !important;

  &-box {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 30px 30px;
  }
}

.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0) !important;
}

///////////////////////////////////////////////////////
// ================ button ====================
.btn {
  border-radius: 10px !important;
  border: none !important;
  transition: all 0.5s;

  // &-big {
  //   padding: 17px 88px !important;
  // }
  &-big {
    padding: 14px 70px !important;

    @include responsive-max(567px) {
      padding: 12px 65px !important;
    }
  }

  &-small {
    padding: 7px 31px !important;
  }

  &-primary {
    background-color: $color-primary !important;
    color: $color-secondary;
    box-shadow: 0px 3px 10px rgba(238, 45, 79, 0.3) !important;

    &:hover {
      background-color: $color-primary-dark !important;
    }
  }
  &-secondary {
    border: 1px solid $color-primary !important;
    background-color: $color-secondary !important;
    color: $color-primary !important;
    border-radius: 20px !important;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05) !important;
  }
  &-round {
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @include responsive-max(767px) {
      width: 30px;
      height: 30px;
    }
  }

  &-add {
    background-color: $color-primary !important;
  }
}

#fav-nav {
  .selector-box {
    background-color: $color-primary-light !important;
    border-radius: 10px;
  }
  .btn {
    background-color: none !important;
    color: $bodyTextBlack;
  }
  .active {
    background-color: $color-primary !important;
    color: $color-secondary;

    &:hover {
      background-color: $color-primary-dark !important;
    }
  }
}
/////////////////////////////////////////////////////////////
// =========== card ===============

.card {
  .card-image-box {
    border-radius: 20px;
  }
  .card-img-top {
    max-height: 260px;
    object-fit: cover;
    transition: 0.8s;
    @include responsive-max(767px) {
      max-height: 187px;
    }
  }
}

.item-card:hover > .card-image-box > .card-img-top {
  background-color: red !important;
  transform: scale(1.1) !important;
}

// ================== #fav-top-offers
#fav-top-offers {
  // 1st row
  .top-offer-1st {
    .card {
      .card-img-top {
        max-height: 298px !important;
      }
    }
  }

  // 2nd row
  .top-offer-2nd {
    .card {
      .card-img-top {
        max-height: 228px;
        @include responsive-max(767px) {
          max-height: 200px;
        }
      }
    }
  }
}

.image-overflow {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.6);
}

// =========== card end ===============

// ================================ Component End ================================
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ================================= Pages ==========================================

// ==================== Login signup Page =======

// ============ #sign-in
.input-main-box {
  width: 95%;
  max-width: 470px;
}

.form-control {
  font-size: 14px !important;
  color: $black !important;
}

.input-label {
  font-size: 14px;
}

// social icon

.social {
  &-icon {
    background-color: $color-secondary;
    padding: 15px 30px;
    border-radius: 24px;
  }

  &-img {
    max-width: 25px;
  }
}

/* === Bootstrap === */
.form-label-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form-label-group > input,
.form-label-group > label {
  padding: 1rem;

  @include responsive-min(400px) {
    padding: 1.5rem;
  }
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include responsive-min(400px) {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(0.5rem / 3);
  padding-bottom: calc(0.5rem / 3);
  font-size: 10px;
  color: #777;

  @include responsive-min(400px) {
    padding-top: calc(1.5rem / 3);
    padding-bottom: calc(1.5rem / 3);
    font-size: 12px;
  }
}

// ==== svg ======
.line-svg {
  top: 0;
  right: 0;
}

// forgot password

.error {
  .form-control {
    border: 1px solid $color-primary !important;
  }
  .error-msg {
    display: block;
  }
}

.error-msg {
  display: none;
}

// ========================= Login signup Page end ===========================

// ========================= Home page ===============================

// ======== #fav-top-offers

#fav-top-offers {
  @include after-nav-section();
}

// ========================= Home page end ===============================

// =========================== Product List page ============================

// ========== #fav-product-tag

#fav-product-tag {
  @include after-nav-section();
  .tag-box {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
    .tag {
      border-radius: 8px !important;

      @include responsive-max(767px) {
        min-width: 65px;
      }

      & > .cross {
        display: none;
        color: $color-secondary !important;
      }
    }

    .active {
      background-color: $color-primary !important;
      color: $color-secondary !important;

      @include responsive-max(767px) {
        min-width: 81px;
      }

      & > .cross {
        display: block;
      }
    }
  }
}

#filter-sort {
  .sort {
    &:hover > .sort-drop-down {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }

  .sort-drop-down {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.5s;

    z-index: 99 !important;
  }

  .drop-down-item {
    &:hover {
      color: $color-primary !important;
    }
  }
}

// =========================== Product List page end ============================

// =========================== Product page ============================

// ====== quantity
.quantity-box {
  border-radius: 20px;
}
.quantity-btn {
  padding: 5px 7px;
}

#product-show {
  @include after-nav-section();
  // ====== details
  .side-image {
    max-height: 350px;
    overflow-y: scroll;
    &-box {
      max-width: 110px;
    }
  }

  .product-image {
    max-height: 350px;
    border-radius: 20px;

    @include responsive-max(767px) {
      max-height: unset;
      border-radius: 0px;
    }
  }

  // ===== details text

  .price {
    text-decoration: line-through !important;
  }

  // ======= color

  .color {
    &-main-box {
      z-index: 100 !important;
      @include responsive-max(767px) {
        position: absolute;
        top: -45%;
      }
    }

    &-box {
      border-radius: 25px;
      transition: 0.8s;
    }

    &-btn {
      width: 38px !important;
      height: 38px !important;
      background-color: $color-secondary;

      &:hover ~ .color-border-box {
        display: inline-block !important;
      }
    }

    &-border {
      width: 38px;
      height: 38px;
      border: 1px solid $color-primary;
    }

    &-border-box {
      display: none !important;
      transition: 0.8s;
    }
  }
}

#fav-product-page-list {
  margin-top: 90px;
}

// =========================== Product page end ============================

.main-box {
  width: 85%;

  @include responsive-max(991px) {
    width: 100%;
  }
}

// =============================== Order Page ======================================

// ============= #order-header
#order-header {
  @include after-nav-section();

  .selector-box {
    .selector {
      border-radius: 20px !important;
      border: none !important;
      padding: 7px 31px !important;
      @include responsive-max(991px) {
        padding: 5px 15px !important;
      }
    }

    .active {
      background-color: $bodyTextBlack !important;
      color: $white !important;
    }
  }
}

// ============ #order
.order {
  // order-sub-box
  &-sub-box {
    .paragraph-text-lg,
    .heading-primary {
      @include responsive-max(491px) {
        font-size: 14px !important;
      }
    }
    .paragraph-text {
      @include responsive-max(491px) {
        font-size: 12px !important;
      }
    }
  }

  // order-details
  &-details {
    max-width: 50%;
    min-height: 170px !important;
    @include responsive-max(767px) {
      min-height: 140px !important;
    }
  }

  // order-pricing
  &-pricing {
    max-width: 50%;
    min-height: 170px;
    @include responsive-max(767px) {
      min-height: 140px !important;
    }
  }
}

// ============================== Order Page end =================================

// ============================== Cart Page ====================================

// ========== #cart-header

#cart-header {
  @include after-nav-section();

  .btn {
    &-big {
      @include responsive-max(567px) {
        padding: 10px 50px !important;
      }
    }
  }

  .apply-promocode {
    color: $color-primary;
  }
}

#carts {
  .product-image {
    width: 100%;
    // max-width: 157px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
    @include responsive-max(1200px) {
      height: 170px;
    }
    @include responsive-max(767px) {
      max-height: 145px;
    }
  }
}

// =============================- Cart Page end =================================

// ============================== Checkout Page ====================================

// ==================#cart-checkout

#cart-checkout {
  @include after-nav-section();

  .btn {
    &-big {
      @include responsive-max(567px) {
        padding: 10px 50px !important;
      }
    }
  }

  // details
  .details {
    min-height: 60px;
  }
}

// ================ #user-details
#user-details {
  .detail-box {
    width: 45%;
    min-height: 137px;
  }
  .details-change {
    color: $color-primary;
  }
  .payment-icon {
    font-size: 35px !important;
  }
}

// ============================== Checkout Page End ====================================

// ============================= Shipping Page =======================================

// ================= #shipping-address
#shipping-address {
  .order-details {
    .active {
      background-color: $color-primary !important;
      color: $color-secondary !important;
    }
  }

  .paragraph-text {
    font-size: 10px !important;
  }
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// ============== SWIPER JS =============

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: $color-primary !important;
}

.swiper-pagination {
  bottom: 0% !important;
}
